.container {
    background-color: white;
    margin: auto;
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
}

.black {
    background-color: black;
}

#btn {
    margin: auto;
}